body {
    display: flex;
    flex-direction: column;
    background-color: #1F2833;
    gap: 7.5vh;
}

.header {
    display: flex;
    justify-content: center;
    padding: 72px 0;
    border-radius: 24px;
    background-color: #0B0C10;
    color: #66FCF1;
    font-size: 48px;
    font-family: 'Sacramento', cursive, sans-serif;
}

.content {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.options {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.active {
    background-color: #0B0C10;
}

#colorPicker {
    border-radius: 10px;
    width: 124px;
    height: 96px;
    padding: 12px;
    background-color: #C5C6C7;
}

button {
    width: 124px;
    height: 48px;
    padding: 16px;
    font-size: 16px;
    background-color: rgb(40, 40, 40);
    color: #66FCF1;
    border-radius: 10px;
}

#sizeValue{
    font-family: sans-serif;
    font-size: 16px;
    color: #66FCF1;
}

input[type="range"]::-webkit-slider-runnable-track {
    background-color: #0B0C10;
}

input[type="range"]::-webkit-slider-thumb {
    background-color: #66FCF1;
}

.canvas{
    display: flex;
    height: 480px;
    width: 480px;
}

.canvas-cell{
    background-color: #C5C6C7;
}